<p><span class="dropcap">C</span>ecilia Lam made the last call of her life at 5:05 a.m.</p>
<br>
<p>“San Francisco 911 —,” the dispatcher began, but Cecilia, breathless and trembling in her apartment bedroom, cut in mid-greeting.</p>

<p>“Oh my God, my ex-boyfriend, the police have already been called, he just broke down my front door …”</p>

<p>A loud slam was heard on the line, the sound of her bedroom door crashing open. Cecilia screamed. Once, twice, three, four times.</p>

<p>“Oh my God!” she cried.</p>

<p>A slap. Then a beep, someone accidentally pressing a key. Two pops. Silence.</p>

<p>“Ma’am, what’s going on?” the dispatcher asked. “Hello? Hello?”</p>

<p>On the other end of the line, Cecilia lay crumpled, shot in the head by her drunken boyfriend, who immediately turned the gun on himself. The last call of her life was the eighth she’d made to 911 in a span of nine hours.</p>

<p>From the evening of Oct. 9, 2014, to the early morning of Oct. 10, the 35-year-old woman called repeatedly from the South of Market apartment she shared with four roommates, asking for police to protect her from her drunken, violent boyfriend, 29-year-old Cedric Young Jr.</p>

<p>After many of her calls, officers responded and sought to help. But each time, they failed to take actions that might have saved her life.</p>

<p>A Chronicle examination of the case — based on interviews with Cecilia’s roommates and family, police reports, 911 recordings and court depositions from police officers and other witnesses — reveals a series of questionable decisions by police that night. Their actions contributed to a fatal breakdown in a system designed to prevent domestic violence killings, a system that San Francisco has worked to reform for years.</p>

<div class="inline-img"><img src="http://ww4.hdnux.com/photos/66/30/72/14257847/3/1000x0.jpg"><div class="caption">Sunny Lam holds a photo of his sister, Cecilia Lam, who was killed by her boyfriend in San Francisco in October 2014 despite numerous calls to 911 and three visits from police. <span class="byline">Lea Suzuki, The Chronicle</span></div></div>

<p>The events the night of Cecilia’s slaying underscore the complexity of what’s known as intimate partner violence, and the challenges police face in intervening. In many domestic violence cases, one of the biggest hurdles to overcome is the state of mind of the victim, who is often intimidated, ashamed of being abused and reluctant to reach out to law enforcement.</p>

<p>But Cecilia called for help. Help came. Three years later, the question that remains is why wasn’t it enough to save her? It’s a question her family has pursued, so far unsuccessfully, in court, hoping to force the Police Department to re-evaluate how its officers respond to domestic violence.</p>

<p>The Police Department declined to comment on the case, but officials said the city has made significant progress in establishing policies for responding to domestic violence calls, and in training officers to recognize when a situation may be more dangerous than it seems.</p>

<p>John Coté, a spokesman for the city attorney’s office, said that while Cecilia’s death was a tragedy, the city was not legally liable. “Ultimately,” he said, “the responsibility for Cecilia Lam’s death lies with the person who committed this senseless crime.”</p>

<p>But like the stubborn, spirited “Ceci” they miss every day, the Lam family isn’t giving up.</p>

<p>“I would like, and my family would like, for this not to happen to anyone else,” said Eddie Lam, the victim’s younger brother. “We know bad things happen to good people every day. But I don’t want her to be just another number. I want people to understand that this didn’t have to happen this way.”</p>

<div class="inline-graphic"><div class='embed-container'><iframe src='http://player.vimeo.com/video/233446436' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div></div>

<p><span class='dropcap'>T</span>he night Cecilia died began as many others had in the second-floor apartment on the 500 block of Natoma Street in the South of Market neighborhood. At about 7 p.m., said Michael Ramirez, one of Cecilia’s roommates, he returned home to find her and Young in the kitchen arguing.</p>

<p>The couple’s turbulent four-year relationship had become consumed by Young’s alcohol abuse.</p>

<p>“They were constantly fighting,” another roommate, Nikki McKay, recalled. “You get home, and they’re fighting. She’d come into my room and we’d talk about it, and it was always just about nonsense. She wanted to hang out with her friends, and he didn’t want that. She wanted to go to her parents’ house, and he would say, ‘Why do you have to go to your parents’ house all the time?’”</p>

<p>The couple had met in 2010, in a chance encounter at a Walgreens. People were drawn to the vivacious young woman, and Young was no exception. He approached her and struck up a conversation. He was tall, handsome and, at the time, gentle.</p>

<div id="infobox">
	<a href="#">
		<img src="http://ww4.hdnux.com/photos/66/30/72/14257849/3/500x0.jpg">
    <p>READ: A family’s struggle with grief and guilt</p>
   </a>
</div>

<p>Cecilia called her childhood best friend, Mario Lieras, to announce: “I met a boy!” Lieras figured Young was going to be just another fling, but Cecilia had told her mother of a desire to settle down. She wanted a family, too.</p>

<p>Her parents, Joseph and Shut-Fan Lam, emigrated from Hong Kong more than three decades ago, when Cecilia was 5 and Eddie was 1. Their daughter took on a burden often assigned to the eldest children in first-generation American families. She was not only a cultural bridge for her parents, but a mother figure to her younger siblings, making sure they experienced the American norms so unfamiliar to their mother and father.</p>

<p>Cecilia was 10 when her brother Sunny was born. She called him her “baby” and her “boy.” He still jokingly refers to her as his “moms.”</p>

<p>Cecilia had ambitions, but delayed them to put her family first. In 2013, though, she returned to school after a long absence, pursuing a degree in Asian American studies at San Francisco State University. She hoped to do civil rights work, advocating for women and Asian Americans.</p>

<p>“In her spare time,” Lieras chuckled, “she also wanted to cure cancer. She wanted to be a little power Asian woman and do all the things.”</p>

<div class="inline-img"><img src="http://ww4.hdnux.com/photos/66/30/72/14257843
/3/1000x0.jpg"><div class="caption">Cecilia Lam (left) in an undated photo with her father, Joseph, and brother, Eddie. <span class="byline">Lea Suzuki, The Chronicle</span></div></div>


<p>Young, who went by the nickname Jay, was a San Francisco native who had moved to Chicago as a child after his parents divorced. He grew up with potential, said his aunt, Victoria Wallace. He was a sweet boy, a nerd at heart. Though he tried to fit in and pretended to be “street,” he couldn’t hide his intelligence, she said. An honor student through high school, he earned a scholarship to Alabama A&amp;M University in Huntsville.</p>

<p>But after getting into a fight, he dropped out of college and began running afoul of the law. His father, hoping to straighten him out, brought him back to California to live with him when he was in his early 20s.</p>

<p>At some point, Young turned to drugs and alcohol. He was arrested three times, twice on suspicion of assault and battery, but was never charged when the victims refused to cooperate. He was in an addiction treatment program when he and Cecilia met, but when the two began dating, none of that mattered, Wallace said.</p>

<p>“They were always holding hands, very affectionate,” Wallace said. “If they were standing, she was right under his arm. You know how you can look at a couple and say, ‘Wow, they are in love!’ That’s how it was.”</p>

<p>But not long after Young moved into Cecilia’s Natoma Street apartment, his violent tendencies resurfaced. He got into fights. He punched holes in the walls and broke a door.</p>

<p>On Valentine’s Day 2012, Young got drunk and accused Cecilia of cheating on him. Two neighbors from the unit below came upstairs when they heard Young tearing up the kitchen. He shoved her twice, pushed one of the neighbors and choked the other, according to police reports.</p>

<p>One neighbor took out a restraining order against Young. But when Cecilia filed her own report of the incident the next day, she told officers she didn’t believe Young had intended to hurt anyone, that she just wanted “documentation.” None of the victims was willing to pursue the case, and although Young was arrested on suspicion of felony assault and domestic violence, city prosecutors did not charge him.</p>

<p>A few weeks before Cecilia’s killing, Nikki McKay, whose room shared a wall with Cecilia’s, heard the couple arguing and what sounded like someone choking. Cecilia didn’t report any abuse, but soon after the incident, Young was gone from the apartment. Cecilia told her relieved roommates they had broken up for good.</p>

<p>In early October, though, Cecilia informed her roommates Young was moving back in. She’d say later that he told her he had been homeless after their breakup, that she’d felt bad for him. Her roommates objected, but by Oct. 9, 2014, he was back.</p>

<div class="full-width-img"><img src="http://ww4.hdnux.com/photos/66/30/72/14257840/3/2000x0.jpg"><div class="caption">With his father Joseph seated nearby, Eddie Lam, shaded by his brother Sunny, prepares some of his sister Cecilia’s favorite foods to place at her headstone during a ceremony to celebrate her life. <span class="byline">Lea Suzuki, The Chronicle</span></div></div>

<p><span class='dropcap'>A</span> year before Cecilia’s death, at the behest of District Attorney George Gascón, the Riverside County district attorney’s office carried out a review of San Francisco’s domestic violence prosecutions.</p>

<p>It found that prosecutors couldn’t bring charges against some purported abusers because of the way police patrol officers responded to domestic violence calls.</p>

<p>“As a generalization, the patrol level investigations tend to be extremely brief and the burden is transferred to the (police) Inspector to conduct a more detailed investigation,” the Riverside report stated.</p>

<p>The city had been working to improve its handling of domestic violence cases since the October 2000 killing of Claire Tempongko. In the 18 months before her death, the 28-year-old had called police, filed reports and sought protective orders against her abusive boyfriend, Tari Ramirez, only to be fatally stabbed by him in front of her two children in her Richmond District apartment.</p>

<p>A commission formed after her death found that almost every aspect of the criminal justice system failed her, and the city sought to ensure that such a tragedy would not happen again. In some ways, the effort was successful, as city and state agencies began collaborating with victim advocates and nonprofit prevention groups. Cecilia’s killing was the fourth domestic violence homicide in the city in four years.</p>

<p>Today,patrol officers get several days of domestic violence response training at the police academy and take a refresher course every two years. The department’s Special Victims Unit recently began a new type of training that allows officers to shadow inspectors to better understand what evidence is needed to support criminal charges.</p>

<p>“I’m a believer in if people understand more why they’re doing things, they get better at doing it,” said police Capt. Una Bailey, who heads the SFPD’s Special Victims Unit.</p>


<div class="inline-img vertical"><img src="http://ww4.hdnux.com/photos/66/30/72/14257846
/3/1000x0.jpg"><div class="caption">Capt. Una Bailey, who heads the San Francisco Police Department’s Special Victims Unit, says the city has made significant progress in handling domestic violence calls. <span class="byline">Lea Suzuki, The Chronicle</span></div></div>

<p>In June, the department launched a pilot program out of Bayview Station. Patrol officers responding to domestic violence calls ask victims a series of specific questions to determine the seriousness of each case and immediately put the victims in contact with advocates.</p>

<p>Such a program may seem commonsense. But for some victims of domestic violence, experts say, the psychological effects of the abuse they have suffered prevents them from realizing the danger they are in until it’s too late.</p>

<p>In homicides of women in California, domestic violence is the leading cause by far. A recently released state report found that at least 80 women were killed by domestic abusers in 2016, accounting for 37.6 percent of the killings in which the motive was known. For male victims, the figure was 1.6 percent.</p>

<p>Across the country, stories like Cecilia’s emerge every day: terrified victims reaching out to law enforcement for help but still ending up dead at the hands of their abusers.</p>

<p>In Pennsylvania this year, 47-year-old Lisa Menzo Santoro called the police for help twice the day her boyfriend shot her repeatedly with a shotgun. In Utah, 39-year-old Memorez Rackley and her 6-year-old son were fatally shot by her ex-boyfriend just three days after she called the police on at least three separate occasions to report that he had been stalking and threatening her and her children.</p>

<p>For a crime in which love is a weapon, leaving an abuser can be the most dangerous time for a victim, said Beverly Upton, head of the city’s Domestic Violence Consortium, a network of service agencies coordinating to help domestic violence victims — and for police to respond proactively instead of reactivelycould mean the difference between life and death.</p>


<div class="inline-img vertical"><img src="./assets/photos/gr1.png"></div>

<p><span class='dropcap'>C</span>ecilia, Young and her roommates lived on the second floor of a three-flat building, in an alley that was being transformed with stylish condos heralding the tech boom. But their 110-year-old building was gray and fading, with a broken iron entry gate that led to a short stairwell and the front doors of the three units.</p>

<p>The middle door opened to a flight of stairs leading up to Cecilia’s apartment. On the evening of Oct. 9, she stood at the top of those stairs, yelling down at Young to leave her alone. After they’d argued, she’d kicked him out again. He was banging on the door to the apartment and ringing the bell.</p>

<p>Cecilia was frantic and frightened. “I need you to look at this,” she told her roommate Michael Ramirez, showing him a pot of spaghetti sauce, according to Ramirez’s court deposition. “I think Jay may have tried to poison me.”</p>

<p>At 8:37 p.m., Cecilia made her first call to 911.</p>

<p>“My boyfriend and I, we’re pretty much fighting right now and I’m asking him to leave my home,” she told the dispatcher. “And he will not leave. ... It’s starting to escalate.”</p>

<p>Young had been drinking all day, she said, then quickly added, “He’s actually leaving now.”</p>

<p>“Want me to send the police?” the dispatcher asked.</p>

<p>“No,” Cecilia responded. “I think we’re OK.”</p>

<p>But by 9:14, she was on the phone to 911 again, and then again at 9:33 p.m., describing an “escalating domestic violence issue.” Young was back and ringing the doorbell, over and over again.</p>

<p>“I’m getting more scared,” Cecilia said in the third call. “I don’t know if he’s going to break in.”</p>

<p>Ramirez dialed 911 around the same time. “I’m calling to straight up say this guy is insane and he’s trying to get inside,” he reported.</p>

<p>Dispatchers flagged the incident as a “418 DV,” a domestic violence dispute. As Lam made her third call to 911, Officers Adam Lobsinger and Chhungmeng Tov from Southern Station pulled up to the building. They began talking with Young, who had halted his frenzied attempts to get into the apartment.</p>

<p>Lobsinger would write in his report that Young seemed calm and “in good spirits.” Young told him “it was nothing more than couples arguing.”</p>

<p>“He had a positive tone to him,” Lobsinger recalled in a court deposition. “We spoke about our barbecue recipes at a certain point.”</p>

<p>As they spoke, Tov later said Cecilia came out of the apartment and defended Young, saying, “He’s a good guy. He doesn’t cause any trouble. He just gets this way sometimes.”</p>

<p>But Ramirez believed that Cecilia was deeply frightened. He tried to intervene, presenting the pasta sauce to Tovand forcing Cecilia to acknowledge she thought it was poisoned. The officer, Ramirez said, “sort of did this half shrug. He laughed kind of, kind of did this thing like, ‘What am I going to do with that?’ sort of gesture.”</p>

<p>Tov’s report said Cecilia denied that Young had tried to poison her. He said she didn’t appear ill, so he didn’t mention the allegation to his partner. Neither officer sought to interview Ramirez at length.</p>

<div class="inline-img vertical"><img src="./assets/photos/gr2.png"></div>

<p>Victims often refuse to speak out against abusers once authorities intervene, domestic violence experts say. The Police Department’s general order on domestic violence states that officers should not be influenced by a victim’s “initial reluctance regarding an officer-initiated arrest.”</p>

<p>Tov would later testify that he asked Lam if Young had abused her in the past. She mentioned the Valentine’s Day incident in which he’d been arrested, but said the couple had moved on from it.</p>

<p>The officers did not run a background check on Young, which would have shown them not only that arrest but previous assault arrests, which experts said would have raised red flags about his potential for violence.</p>

<p>Citing the lack of any injury and that Cecilia did not appear frightened, neither officer considered the visit a domestic violence call, according to their depositions. By doing so, they did not initiate several steps laid out in department policy. They did not offer Cecilia a victim referral card listing resources should she need them, nor did they inform her of her right to make a citizen’s arrest.</p>

<p>After about 15 minutes on the scene, the officers watched Young walk away from the building, then left themselves.</p>

<p>Young would not be gone for long.</p>

<div class="full-width-img"><img src="http://ww4.hdnux.com/photos/66/30/72/14273741
/3/2000x0.jpg"><div class="caption">Shut-Fan Lam, in her Oakland home, sometimes talks to her late daughter. “Where are you? I’m still waiting for you. I wait for you every day.” <span class="byline">Lea Suzuki, The Chronicle</span></div></div>

<p><span class='dropcap'>T</span>he Cecilia family members and friends knew and loved was unafraid to speak up and unwilling to be disrespected or bullied. That’s why the relationship she’d continued with Young baffled so many of them.</p>

<p>She hid the bad parts from her parents, reluctant to make them worry. But after the 2012 incident in which Young was arrested, she called her brother Eddie. As she’d done for them so many times before, her brothers came together to support her.</p>

<p>“You’ve always made the right decisions,” Eddie told her. “I trust that you will make the right decision now.</p>

<div class="float-img-container">
	<div class="float-img left">
		<img src="http://ww4.hdnux.com/photos/66/30/72/14257839/3/900x0.jpg">
		<div class="caption">Cecilia’s brother Sunny Lam says since his sister’s murder, “I feel like everyone is always asking themselves, ‘What could we have done?’” <span class="byline">Lea Suzuki, The Chronicle</span></div>
	</div>
</div>

<p>“She always taught me, you never lay your hands on a woman,” he said. “I was just hoping that Ceci would see for herself. All the things she preached about what I should never do to a woman was something she experienced. But for some reason, her heart just didn’t want to let that go.”</p>

<p>Young’s drug and alcohol use, meanwhile, may have been masking untreated mental illness, said his aunt. About a month before the murder-suicide, he told her: “Aunty, when I am in the house by myself, I hear voices.”</p>

<p>Another time, Young told his uncle he saw a figure in a window, making faces at him. A few months before his death, he called his father to say he had put a pistol in his mouth and was going to shoot himself.</p>

<p>His family didn’t take him seriously at the time, but Wallace now believes he was seeking their help. If police had responded more diligentlyto Cecilia’s calls that night, she said, maybe he would have gone to jail instead of to the coroner. Maybe he would have gotten help. Maybe they’d both still be alive.</p>

<p>“This could have been stopped,” she said.</p>

<div class="inline-img vertical"><img src="http://ww4.hdnux.com/photos/66/30/72/14257841
/3/1000x0.jpg"><div class="caption">Ceciia Lam (right) in a family photo with her brothers Eddie (left) and Sunny. <span class="byline">Lea Suzuki, The Chronicle</span></div></div>

<p><span class='dropcap'>J</span>ust 15 minutes after Officers Tov and Lobsinger left Natoma Street, Young returned, and Cecilia was back on the phone to 911. It was 10:01 p.m.</p>

<p>“I’m having a domestic violence issue that is escalating,” Cecilia said.</p>

<p>The dispatcher recognized her voice. “Your boyfriend’s back?” he asked.</p>

<p>“Yep.”</p>

<p>McKay, her roommate, had arrived home about 20 minutes earlier. Feeling bad for Young, she took him some of his clothes in a garbage bag. But as she talked to him through the partially open front door, he tried to force his way in.</p>

<p>McKay managed to dead-bolt the door. Panicked, Ramirez grabbed a fire extinguisher as a possible weapon, and Cecilia ran to the flat’s back patio to call 911 again.</p>

<p>“Is this Cecilia?” asked the dispatcher who picked up at 10:09 p.m.</p>

<p>“He’s actually in the cage now,” she said in a frightened voice, referring to the area inside the iron security gate. “He’s trying to open the front door.”</p>

<p>Dispatchers coded the call as both a domestic violence incident and an attempted break-in, and upgraded the urgency call from priority B to A — a serious crime in progress. Officers Lobsinger and Tov returned a few minutes later. Sgt. Steven Haskell, who had been nearby on his regular patrol, also responded.</p>

<p>Tov interviewed Cecilia again. Afterward, Haskell said in his court deposition, Tov told him that the most they could do was arrest Young, who was drunk, for public intoxication, a misdemeanor that results in a citation and a stay of at least four hours in the city’s “drunk tank,” a jail holding cell. Tov didn’t mention the poisoning allegations from earlier.</p>

<p>“The victim wanted nothing done,” Haskell said Tov told him.</p>

<p>Before arresting Young on drunkenness charges, none of the officers interviewed Ramirez or McKay. If they had, McKay might have told them what she said later in her deposition — that she thought she’d seen a gun in Young’s waistband that evening.</p>

<p>It’s unclear where the weapon Young used to kill himself and Cecilia was at this point, but such an allegation could have changed the direction of the case, according to law enforcement and domestic violence experts. The officers might have pursued charges against Young for the attempted break-in. They might have offered Cecilia domestic violence victim services, or advised her to spend the night elsewhere, or helped her obtain an emergency protective order, which would have given them cause to arrest Young if he returned yet again.</p>

<p>Instead, as Young left in the back of a patrol car, Cecilia and her roommates went back inside. For the first time since they had all shared the apartment, the five roommates sat down together.</p>

<p>Ceci had been master tenant since about 2006, filling the large flat with an ever-changing roster of friends, acquaintances and Craigslist strangers. This latest set of roommates got along, but were rarely home at the same time. Now, they rallied around Cecilia, making each other drinks in the kitchen.</p>

<p>They took pictures of the pasta sauce for evidence. Cecilia, ever the ham, posed next to a container of it, making a silly face.</p>

<p>“We had a real conversation with Ceci, telling her she had to respect herself better than this,” McKay said. “I was going to call out of work (the next day) and go with her to file a restraining order.”</p>

<p>As her relationship with Young had devolved, so had their apartment. Cecilia was in charge of cleaning the shared spaces, but rarely did. The walls were yellow from her chain-smoking. After her death, the roommates would learn she had stopped paying the utility bills — an uncharacteristic act for someone who’d spent much of her life taking care of everyone else.</p>

<p>That night, after a few drinks, the roommates talked about redecorating. They talked about the future. They went to bed hopeful.</p>

<div class="inline-img"><img src="http://ww4.hdnux.com/photos/66/30/72/14257836
/3/1000x0.jpg"><div class="caption">Eddie Lam, on the couch of his family’s Oakland home, says of his sister: “I don’t want her to be just another number. I want people to understand that this didn’t have to happen this way.” <span class="byline">Lea Suzuki, The Chronicle</span></div></div>

<p><span class='dropcap'>P</span>rotocol for public intoxication in San Francisco, as in most cities, is to hold suspects and give them time to sober up. Police drove Young from Natoma Street to nearby County Jail No. 1 at 425 Seventh St., run by San Francisco sheriff’s deputies.</p>

<p>“They are medically evaluated when they come in and are medically checked throughout their detention,” said Eileen Hirst, chief of staff for the Sheriff’s Department. “When they are deemed able to take care of themselves and can follow simple instructions, they are released. It’s a minimum of four hours.”</p>

<p>Cecilia’s roommates said Young had texted them that he had consumed a bottle of vodka that night. While he was deemed sober enough to leave jail about four hours after he arrived, his autopsy report showed he died with a blood-alcohol content of 0.16 — double the legal limit for driving.</p>

<div class="inline-img"><img class="shadow" src="./assets/photos/tox.png"></div>

<p>As a matter of policy, deputies would have known only that Young had been arrested on suspicion of being drunk in public. They would not have known he had been harassing an ex-girlfriend and trying to force his way into her home.</p>

<p>Upton, of the city’s Domestic Violence Consortium, said such a gap in communication about an arrestee is potentially dangerous. If deputies knew such details, Upton said, they could do more to keep the person in custody, or provide counseling.</p>

<p>Instead, Young was released sometime after the mandatory four-hour hold. As he stepped out of the jail, he was just three blocks from Cecilia’s apartment. By 4 a.m., he stood outside it again, flooding her phone with text messages.</p>

<p><br />
</p>

<p><span class='dropcap'>A</span>t 4:03 a.m., Cecilia dialed 911 for a sixth time, reporting an “escalating domestic violence issue.”</p>

<p>“I’m getting a restraining order tomorrow,” she said. “The police told me to call if he came back.”</p>

<p>When she called again at 4:08 a.m., her voice was a whisper, her fear stark.</p>

<p>“Our front lock gate is not very good,” she said. “I can hear him actually trying to open it.”</p>

<p>Moments later, she sounded like she was hyperventilating: “Oh God, I saw the gate open. I saw the gate open! He’s ringing the doorbell now, oh my God, oh my God. I told him not to come back.”</p>

<p>Go into your bedroom and shutthe door, the dispatcher advised.</p>

<p>With no Southern Station patrol officers available, two officers from nearby Tenderloin Station, David Lee and Viet Ha, arrived a few minutes later.</p>

<p>Recognizing the address on the radio as the one he’d visited earlier, Sgt. Haskell from Southern Station steered to the scene as well. Officer Lobsinger, who’d also heard the radio call, texted Lee and Ha to alert them he’d been at the address earlier for a similar call.</p>

<p>The police found Young outside, sitting on the front stoop. He told them he needed clothes for work the next day.</p>

<p>Young remained calm as they talked, Lee later testified. Cecilia, he said, came down the stairs yelling and swearing.</p>

<p>“See what I’m dealing with?” Young told the officers.</p>

<p>Though the officers had responded to a priority “break-in” call, they determined Young wasn’t attempting to break in, as he had previously lived in the apartment. Cecilia never used the words “breaking in,” Ha said later, only that Young had banged on the door.</p>

<p>The officers told Cecilia that Young needed to retrieve some belongings from the apartment. She consented, they said, so they assisted him in what is known as a civil standby.</p>

<p>“You don’t want to send an angry girlfriend into a house, go collect things for a guy, because they’re probably not going to come back in one piece,” Lee later explained.</p>

<p>Nobody knows for sure where Young got the old, beat-up .32-caliber Colt pistol he used that night, or if he might have retrieved it when he entered the apartment. He didn’t have the gun when he was jailed a few hours earlier, and he didn’t own a car where it might have been stashed. Investigators were unable to trace its origins after they collected it from the crime scene.</p>

<p>Young was inside the apartment for about 10 minutes. Lee said Young shook out a shirt and pants he collected from Cecilia’s room and stuffed them in a bag along with a pair of shoes.</p>

<p>Haskell arrived after Young was let inside. The sergeant said he told Cecilia that “if anything were to happen,” she or the officers could obtain a restraining order.</p>

<p>She declined, Haskell said, and “reassured me there was no domestic violence,” despite her statements on the 911 call just minutes before.</p>

<p>The three officers and Young exited the apartment, and Cecilia locked the door behind them. Officer Lee had a pack of cigarettes hanging out of his pocket, and Young asked for one. The men chatted as they smoked together.</p>

<p>“Young appeared as a pleasant person,” Haskell said. “He was, you know, cooperative. And I was talking to him, and we had a one-on-one conversation, not even related to work.”</p>

<p>“Listen, this is the second time you’re coming back here,” Haskell told Young, according to his deposition. “If, you know, you might come back a third time, if you hit her or anything happens, you’re going to jail.”</p>

<p>“No, no. I understand,” Young replied. “I just wanted my stuff. I’m done with her.”</p>

<p>This sort of casual interaction is neither unusual nor inappropriate in such a situation, law enforcement officers say. By defusing tensions, a suspect is less likely to be combative if they need to make an arrest.</p>

<p>But Upton, of the Domestic Violence Consortium, said abusers are notorious for explaining away their own behavior, connecting man-to-man with police officers and convincing them of the “crazy ex-girlfriend trope.”</p>

<p>“They may have thought they were de-escalating things,” Upton said. “But I don’t think it makes the victim feel very safe when she looks outside and sees her abuser having a cigarette with the police officers that are supposed to protect her.”</p>

<p>Ha and Lee said they didn’t run Young’s criminal history before they responded. They knew only that he had been arrested earlier for public intoxication, they said. They knew nothing about the 2012 domestic violence arrest and the alleged poisoning, and little of Cecilia’s repeated 911 calls.</p>

<p>But electronic communications available to every officer in a patrol vehicle were clear that night. Transmitted from the dispatch center, they noted that Young had a prior criminal history. But none of the officers who responded that night took the next step of looking up what that prior history was.</p>

<p>When Lee and Ha responded instead of Tov and Lobsinger, 911 dispatchers made sure to add that it was a return call, and that Young had just been released from a drunkenness hold.</p>

<p>In his deposition, Lee put the onus on Cecilia, saying she didn’t tell officers about Young’s actions that night.</p>

<p>“If she would have told me (about their history), he’d have been in buckles,” Lee said. “I’m not afraid of putting the handcuffs on anybody.”</p>

<p>Shortly after 4:30 a.m., Young left. The officers said they told him not to come back; he told them he wasn’t planning to.</p>

<p>Within half an hour, gun in hand, he was kicking in the front door.</p>

<div class="inline-img"><img class="shadow" src="./assets/photos/gun.jpg"></div>

<p><span class='dropcap'>T</span>he commotion shook the other roommates awake. As Young rushed up the stairs to Cecilia’s bedroom door, kicking it open as if it were made of cardboard, roommate Timothy Cochran locked his bedroom door, shut himself in his closet and called the police.</p>

<p>“My roommate’s boyfriend,” he said in a terrified whisper. “He’s killing her.”</p>

<p>Misael Fuentes, the fourth roommate, also dialed 911.</p>

<p>“We need the cops right now,” he said. “My roommate Ceci has been calling about her boyfriend. He tried to poison her today.”</p>

<p>“Cecilia’s been calling all night,” the dispatcher responded. “What’s going on now?”</p>

<p>By then, Cecilia’s own emergency call had gone silent.</p>

<p>“Hello? Hello?” said the dispatcher.</p>

<p>The only sound on the line was Cecilia’s labored breathing. She gurgled as if she were trying to say something.</p>

<p>“Help is already on the way,” the dispatcher said. “Stay on the line.”</p>

<p>Six minutes later, officers entered the dark apartment and found Cecilia still alive, moaning.</p>

<p>“Holy s—!” said one, his reaction caught on the 911 tape.</p>

<p>A hysterical McKay tried to leave her bedroom, but the officers told her to stay inside. Soon, Officer Tov appeared at her door.</p>

<p>“Why didn’t you tell us he was dangerous?” Tov asked her.</p>

<p>Three years later, her voice still shakes with anger when she recalls the conversation.</p>

<p>“You were called,” McKay said in an interview. “You were called. You should have done something.”</p>

<div class="inline-img"><img src="http://ww4.hdnux.com/photos/66/30/72/14257845
/3/1000x0.jpg"><div class="caption">Nick Casper, attorney for the Lam family, says police should have taken more action the night of Cecilia’s murder. “Their response seemed to be, ‘How do I get out of here and take the next call?’“ <span class="byline">Lea Suzuki, The Chronicle</span></div></div>

<p><span class='dropcap'>N</span>o internal police investigation took place after Cecilia’s death, despite a complaint her family filed with the civilian Department for Police Accountability that remains pending.</p>

<p>All the officers who responded to her 911 calls that night — Tov, Lobsinger, Haskell, Lee and Ha — are still with the SFPD. None has been disciplined in the case.</p>

<p>Capt. Bailey of the Special Victims Unit said that even before Cecilia’s death, the city had made significant progress in its handling of domestic violence calls. City agencies, nonprofits and victim advocates collaborate in developing policy, finding funding and providing resources for victims, she said.</p>

<p>Included in San Francisco’s reforms was a revised department general order on domestic violence.</p>

<p>A comprehensive policy, it addresses the many complexities of domestic violence cases, said Nick Casper, an attorney with Casper, Meadows, Schwartz and Cook, which represented Cecilia’s family. It requires responding officers to look beyond a victim’s reluctance to cooperate and instructs them to consider the victim’s history of complaints. It defines domestic violence as a crime beyond a visible injury.</p>

<p>The policy went into effect two days before Cecilia was killed.</p>

<p>The officers involved in her case would have been aware of it, Casper said. But having such a policy means nothing, he said, if officers refuse to view a call as domestic violence.</p>

<div class="float-img-container small">
	<div class="float-img right small"><img src="./assets/photos/poison.jpg">
		<div class="caption">This is the poison...from the police report.</div>
	</div>
</div>

<p>Casper said it appeared that dispatchers had acted appropriately that night, taking down everything Cecilia told them and accurately coding the calls. And Cecilia had “even used the ‘magic language,’” he said, “calling it an ‘escalating domestic violence situation.’”</p>


<p>But when presented with a situation that did not have “the most overt signs of domestic violence,” he said, “their response seemed to be, ‘How do I get out of here and take the next call?’ rather than, ‘How can I help this citizen who felt she was in enough danger to call 911?’”</p>

<p>In 2015, a police crime lab analyzed the pasta sauce that Cecilia believed Young had poisoned. The sauce, which was taken into evidence after the murder-suicide, tested positive for rat poison.</p>


<div class="inline-img"><img class="shadow" src="./assets/photos/poison.png"></div>

<p>The Lam family sued the city in U.S. District Court in Oakland in 2015, seeking damages and hoping to force the Police Department to re-evaluate how its officers respond to domestic violence. This past June, Magistrate Judge Kandis Westmore dismissed the case.</p>

<p>Public entities are protected from liability when they are accused of failing to protect a victim from a third party, the judge said. She also said the allegation that the officers created more danger by allowing Young into the apartment was not supported by evidence. The family decided not to appeal the ruling.</p>

<p>But the court’s dismissal does not completely absolve the city, Casper said. “Whether something is legally actionable and whether it is morally wrong are unfortunately two different questions.”</p>

<p>Victim advocate Upton said San Francisco police, and law enforcement agencies nationwide, have come a long in way in how they handle domestic violence calls. But it’s not enough, she said. Officers can’t treat domestic violence like any other crime, with a clear aggressor and victim, a clear wrong and a right.</p>

<p>Law enforcement must do better, Upton said. “Because the fact is, all domestic violence homicides are preventable.”</p>

<hr>
<div class="credits">
	<p>Reporting by <a href="mailto:vho@sfchronicle.com">Vivian Ho</a> <a href="http://twitter.com/vivianho"> <i class="fa fa-twitter"></i></a></p>
	<p>Photography by <a href="mailto:Lsuzuki@sfchronicle.com">Lea Suzuki</a></p>
	<p>Video by <a href="mailto:Lsuzuki@sfchronicle.com">Lea Suzuki</a> and<a href="mailto:mvarghese@sfchronicle.com"> Manjula Varghese</a></p>
	<p>Designed and developed by <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a> <a href="http://twitter.com/luciovilla"><i class="fa fa-twitter"></i></a></p>
</div>

