<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_head.html") %>
  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div id="intro">

      <div class="logo-link top">
        <a href="http://www.sfchronicle.com" target="_blank">
          <img src="./assets/logos/sf_logo_white.png"></img>
        </a>
      </div>
  
      <div id="intro-text">
        <div id="audio-text">
          
          <div data-start="2.5" data-end="3.5" class="text show"><span class="oncall">Dispatcher</span>“San Francisco 911 —,”</div>

          <div data-start="3.5" data-end="8" class="text show"><span class="oncall">Cecilia</span>"Oh my God, my ex-boyfriend, the police have already been called, he just broke down my front door …"</div>

          <div data-start="8" data-end="11.5" class="text show description">Screams.</div>

          <div data-start="11.5" data-end="12.8" class="text show"><span class="oncall">Cecilia</span>“Oh my God!”</div>

          <div data-start="13.3" data-end="15.8" class="text show description">A slap. A beep.</div>

          <div data-start="17" data-end="18.3" class="text show description">Two pops.</div>

          <div data-start="19.3" data-end="20.3" class="text show"><span class="oncall">Dispatcher</span>“Ma’am, what’s going on?”</div>

          <div data-start="23.5" data-end="24.5" class="text show"><span class="oncall">Dispatcher</span>“Hello?”</div>

          <div data-start="27.9" data-end="29" class="text show"><span class="oncall">Dispatcher</span>“Hello?”</div>

          
          <div id="title">
            <h1 class="balance-text">A life on the line</h1>
            <div class="deck balance-text">Eight calls to 911. Three visits by five police officers. One woman’s needless death.</div>
            <%= t.include("partials/_social-links.html") %>
            <div class="byline">By <a href="http://www.sfchronicle.com/author/vivian-ho/" target="_blank">Vivian Ho</a> | Oct. 5, 2017</div>
          </div>
          <div class="controls">
            <div id="mute" class="mute" title="Unmute/Mute">
              <img class="fa fa-volume-off" src="./assets/photos/unmute.png">
              <i class="fa fa-volume-up" aria-hidden="true"></i>
            </div>
            <div id="restart" title="Restart"><i class="fa fa-undo" aria-hidden="true"></i></div>
            <span class="warning">Unmute to listen. Warning, audio may be disturbing.</span>
          </div>
        </div>  
      </div>
      
      <div id="waveform"></div>

      <div class="controls">      
        <div class="skip" title="Skip to story">Read the story</div>
      </div>

    </div>


    <div id="article">
      <%= t.include("partials/_nav.html") %>
      
      <% json.text['text'].forEach(function(t) { %>

  

        <% if ( t.type == 'text' ){ %>
          <p><%= t.value %></p>
        
        <% } else if ( t.type == 'image' ){ %>

          <div class="<%= t.value[0].Size %>-img">
            <img src="http://ww1.hdnux.com/photos/61/75/22/<%= t.value[0].Wcm_id %>/3/2000x0.jpg">
            <div class="caption"><%= t.value[0].Caption %> <span class="byline"><%= t.value[0].Photographer %></span></div>
          </div>
        
        <% } else if ( t.type == 'float-image' ){ %>

          <div class="float-img-container">
            <div class="float-img <%= t.value[0].lr %>">
              <img src="<%= t.value[0].url %>">
              <div class="caption"><%= t.value[0].Caption %><span class="byline">Lea Suzuki, The Chronicle</span></div>
            </div>
          </div>
        
        <% } else if ( t.type == 'float-image-small' ){ %>

          <div class="float-img-container small">
            <div class="float-img right small"><img src="./assets/photos/poison.jpg">
              <div class="caption">A photo of the rat poison found at Cecilia Lam's home. From court documents. </div>
            </div>
          </div>

        <% } else if ( t.type == 'graphic' ){ %>

          <div class="<%= t.value[0].class%>"><img src="./assets/photos/<%= t.value[0].file%>" class='<%= t.value[0].border%>'><div class="caption"><%= t.value[0].caption%></div></div>

        <% } else if ( t.type == 'video' ){ %>

          <div class="inline-graphic"><div class='embed-container'><iframe src='http://player.vimeo.com/video/233446436' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div></div>


        <% } else if ( t.type == 'infobox' ){ %>

          <div id="infobox">
            <a href="http://www.sfchronicle.com/crime/article/A-family-s-struggle-with-grief-and-guilt-12253918.php">
              <img src="http://ww4.hdnux.com/photos/66/30/72/14257849/3/500x0.jpg">
              <p>READ: A family’s struggle with grief and guilt</p>
             </a>
          </div>

        <%}%>

         

      <% }); %>

      <hr>
      <div class="credits">
        <p>Reporting by <a href="mailto:vho@sfchronicle.com">Vivian Ho</a></p>
        <p>Photography by <a href="mailto:Lsuzuki@sfchronicle.com">Lea Suzuki</a></p>
        <p>Video by <a href="mailto:Lsuzuki@sfchronicle.com">Lea Suzuki</a> and<a href="mailto:mvarghese@sfchronicle.com"> Manjula Varghese</a></p>
        <p>Designed and developed by <a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a></p>
      </div>


    </div>
    <audio id="audiotrack" style="display: none;" muted preload="auto"  src="./assets/audio/intro-call.mp3"></audio>
    <%= t.include("partials/_footer.html") %>
    <%= t.include("partials/_helloSFC.html") %>
    <script src="app.js" async></script>

  </body>
</html>
